!!! XML
!!!
%html{:lang => 'en', :"xml:lang" => 'en', :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  %body
    #header
      - if flash[:notice].present?
        .flash.notice= flash[:notice]
    #contents
      = yield
    #footer
